.history {
  &__date {
    padding: 10px 0;
    @include breakpoint($sm) {
      display: inline-block;
      min-width: 250px;
      text-align: center;
    }

    .icon {
      color: #2ecc71;
      margin-right: 10px;
    }
  }

  &__description {
    @include breakpoint($sm) {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
    }

    textarea {
      resize: none;
      width: 100%;
      min-height: 80px;
    }
  }
}
