.nav {
  box-shadow: 1px 3px 5px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  position: fixed;
  width: 100%;

  &__icon {
    .icon {
      font-size: 24px;
    }
  }

  &__logo {
    img {
      height: 45px;
    }
  }

  &__title {
    p {
      margin-top: -5px;
      font-size: 20px;
    }
  }
}
